/msvc/ServerSiftGPU/Debug
/msvc/SiftGPU/Debug_CUDA
/msvc/SiftGPU/Debug
/msvc/TestWin/*Debug
/msvc/TestWin/*.user
/msvc/ipch
/lib/SIFTGPU_d.lib
/lib/TestBase_d.lib
/lib/SIFTGPU_d.exp
/msvc/ServerSiftGPU/*.user
/msvc/SiftGPU/*.user
/msvc/*.sdf
/msvc/*.opensdf
/msvc/SiftGPU/*.pdb
/bin/*.ilk
/bin/*.exe
/bin/SiftGPU_d.dll
/bin/SiftGPU.dll
/bin/*.pdb
/msvc/*.suo
/msvc/ServerSiftGPU/Release
/msvc/SiftGPU/Release
/msvc/TestWin/*Release
/lib/*.exp
/lib/SIFTGPU.lib
/lib/TestBase.lib
/bin/TestWin.exe
/bin/SiftGPU.dll
/bin/SimpleSIFT.exe
/bin/Speed.exe
/bin64
/lib64
/msvc/SiftGPU/Release_x64
/msvc/SiftGPU/Debug_x64
